<div class = "container" >
<div class="jumbotron">
       <h2>CNN News!</h2>
       <a href="/scrape"> <button type="button" class="btn btn-danger scrape" > Scrape Articles Here </button></a>
</div>
<div class="article-container">

    {{#each Article}}
  <div class="row">

<div class="panel panel-primary">
  <div class="panel-heading">{{this.title}}
    <a href="/notes/{{this._id}}">
    <button type="button" class="btn btn-warning save-article" >See Notes</button> </a>
  </div>
  <div class="panel-body">
    <a href= "https://www.cnn.com/{{this.link}}" target="_blank"> {{this.link}}</a>
  </div>
</div>
    </div>
 {{/each}}
</div>


<!-- Footer -->
<footer class="footer container">
@ Copyright 2019
</footer>

</div>
<script>
</script>